* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: hsl(221, 56%, 31%);
    list-style: none;
    font-size: 20px;
}

body {
    width: 100%;
    height: 100%;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 500px auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: black;
}

.titulo-container {
    grid-area: 1 / 1 / 2 / 2;
}

.contenido {
    grid-area: 2 / 1 / 3 / 2;

}

.alertas {
    grid-area: 3 / 1 / 4 / 2;

}

.titulo-container, .contenido, .alertas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 7px;
    margin: 5px;
    padding: 10px;
    border: 3px solid hsl(221, 56%, 31%);
}

.vacio {
    grid-area: 1 / 2 / 3 / 3;
}

.titulo {
    width: 100%;
    height: 50px;
}

.titulo h4 {
    display: flex;
    justify-content: center;
    font-size: clamp(6px, 1.8vw, 20px);
}

.titulo p {
    display: flex;
    justify-content: start;
    font-size: clamp(6px, 1.8vw, 15px);
    padding: 15px;
}

.alertas p{
 color: red;
 font-size: 12px;
}